In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
437,tt1226229,40000000,90029656,Get Him to the Greek,Jonah Hill|Russell Brand|Rose Byrne|Colm Meane...,Nicholas Stoller,Aaron Green has 72 hours to get a Rock Star fr...,Pinnacle records has the perfect plan to get t...,109,Comedy,Universal Pictures|Spyglass Entertainment|Rela...,6/4/2010,5.9,2010
762,tt0970179,170000000,185770160,Hugo,Asa Butterfield|ChloÃ« Grace Moretz|Ben Kingsl...,Martin Scorsese,One of the most legendary directors of our tim...,Hugo is an orphan boy living in the walls of a...,126,Adventure|Drama|Family,Paramount Pictures|Infinitum Nihil|GK Films,11/22/2011,6.8,2011
934,tt0280665,35000000,16838910,Femme Fatale,Rebecca Romijn|Antonio Banderas|Peter Coyote|R...,Brian De Palma,Nothing is more desirable or more deadly than ...,"A woman tries to straighten out her life, even...",114,Thriller|Crime|Romance,Epsilon Motion Pictures|Quinta Communications,11/6/2002,6.1,2002
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,6.4,2015
679,tt0462465,50000000,7033683,Outlander,Jim Caviezel|Sophia Myles|Jack Huston|Ron Perl...,Howard McCain,It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,Fantasy|Action|Science Fiction,Ascendant Pictures|Rising Star|VIP Medienfonds...,4/24/2008,6.0,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# добавим колонку прибыль
data['profit'] = data.revenue - data.budget
# преобразуем строки мультижанра в список жанров
def stringtolist (string):
    result = string.str.split('|')
    return result

# добавим колонку жанров в виде списков
data['genres_list'] = stringtolist(data.genres)
# создадим датасет с жанрами - отдельными элементами
data_genres = data.explode('genres_list')

# добавим колонку режиссеров в виде списков
data['director_list'] = stringtolist(data.director)
# создадим датасет с режиссерами - отдельными элементами
data_director = data.explode('director_list')

# добавим колонку актеров в виде списков
data['actor_list'] = stringtolist(data.cast)
# создадим датасет с актерами - отдельными элементами
data_actor = data.explode('actor_list')

# добавим колонку компаний в виде списков, создадим датасет с разбивкой компаний
data['companies'] = stringtolist(data.production_companies)
data_companies = data.explode('companies')

# добавим колонку режиссеров в виде списков в датасет с разбитыми жанрами
data_genres['director_list'] = stringtolist(data_genres.director)
# создадим датасет с режиссерами и жанрами - отдельными элементами
data_genres_director = data_genres.explode('director_list')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
# тут пишем ваш код для решения данного вопроса:
movie_max_budget = data.sort_values(by='budget', ascending=False).iloc[0]

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
movie_max_budget = data.loc[data.budget == data['budget'].max()]

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
film_long = data.loc[data.runtime == data['runtime'].max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

movie_short = data.loc[data.runtime == data['runtime'].min()]

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

movie_average = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'

movie_mediana = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

movie_max_profit = data.loc[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = 'The Lone Ranger (tt1210819)'

movie_min_profit = data.loc[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478'

profit_positive = len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = 'The Dark Knight (tt0468569)'

profit_max_2008 = data[data.profit == data[data.release_year==2008].profit.max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = 'The Lone Ranger (tt1210819)'

profit_min_2012_2014 = data[data.profit == data.query('release_year in ["2012", "2013", "2014"]').profit.min()]

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

Counter(data['genres_list'].sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [19]:
genres_counts = data.explode('genres_list').genres_list.value_counts()
genres_counts.index[0], genres_counts.iloc[0]

('Drama', 782)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama'
genre_maxprofit = data_genres[data_genres.profit > 0].groupby(['genres_list'])['profit'].count()
genre_maxprofit.loc[genre_maxprofit==genre_maxprofit.max()]

genres_list
Drama    560
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = 'Peter Jackson'
director_maxreven = data_director.groupby(['director_list'])['revenue'].sum()
director_maxreven.loc[director_maxreven==director_maxreven.max()]

director_list
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'
director_action = data_genres_director[data_genres_director.genres_list == 'Action']['director_list'].value_counts()
director_action.index[0], director_action.iloc[0]

('Robert Rodriguez', 9)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = 'Chris Hemsworth'
actor_maxrevenue = data_actor[data_actor.release_year==2012].groupby(['actor_list'])['revenue'].sum().sort_values(ascending=False)
actor_maxrevenue.index[0], actor_maxrevenue.iloc[0]

('Chris Hemsworth', 2027450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = 'Matt Damon'
data_actor[data_actor.budget > data_actor.budget.mean()].actor_list.value_counts().idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = 'Action'
data_actor[data_actor.actor_list == 'Nicolas Cage'].genres.str.split('|').explode('genres').value_counts().idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
movie_PP = data_companies.loc[data_companies[data_companies.companies == 'Paramount Pictures'].profit.sort_values().idxmin()]
movie_PP.original_title

925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '2015'
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '2014'
data_companies[data_companies.companies.str.contains("Warner Bros.", na=False)].groupby(['release_year'])['profit'].sum().sort_values(ascending=False).idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = 'Сентябрь'
data['date'] = data.release_date.astype('datetime64[ns]')
data.date.dt.strftime('%B').value_counts().index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '450'
data.date.dt.month.value_counts().loc[[6, 7, 8]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = 'Peter Jackson'
data_director['month'] = data_director.release_date.astype('datetime64[ns]').dt.month
dd = data_director.query('month in [12, 1, 2]')
dd_ser = dd.groupby(['director_list'])['director_list'].count().sort_values(ascending=False)
dd_ser.index[0], dd_ser.iloc[0]

('Peter Jackson', 7)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = 'Four By Two Productions'
data_companies['lengthtitle'] = data_companies.original_title.apply(lambda x: len(x))
data_companies.groupby(['companies'])['lengthtitle'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = 'Midnight Picture Show'
data_companies['lenoverview'] = data_companies.overview.apply(lambda x: len(x.split(' ')))
data_companies.groupby(['companies'])['lenoverview'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
percent = data.original_title.count()//100
data.sort_values('vote_average', ascending=False)[:percent]['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [41]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
couple_list = []
for actors in data.actor_list:
    for couple in list(combinations(actors, 2)):
        couple_list.append(couple)
Counter(couple_list).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

ВАРИАНТ 2

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27