In [ ]:
# fig, ax = plt.subplots(figsize=(15, 5))
sns.countplot(y = data.loc[:, 'City1'])
plt.show()

In [7]:
import pandas as pd
df = pd.DataFrame({
    'movie':['a', 'b', 'c'],
    'genre':[['Action', 'Fantasy', 'Adventure', 'Science Fiction'],['Action', 'Fantasy', 'Adventure'],['Action', 'Adventure', 'Crime']]
})
dum = pd.get_dummies(df['genre'].apply(pd.Series).stack()).reset_index(1, drop=True)
print(df)
dum.groupby(dum.index).sum()
df.merge(dum.groupby(dum.index).sum(), left_index=True, right_index=True).drop('genre', axis=1)

  movie                                          genre
0     a  [Action, Fantasy, Adventure, Science Fiction]
1     b                   [Action, Fantasy, Adventure]
2     c                     [Action, Adventure, Crime]

  movie  Action  Adventure  Crime  Fantasy  Science Fiction
0     a       1          1      0        1                1
1     b       1          1      0        1                0
2     c       1          1      1        0                0

In [ ]:
# Определим количество ресторанов каждой ценовой категории по городам 
groups_price = data.groupby(['City1'])['Price Range'].value_counts().to_dict()
print(groups_price)

In [ ]:
# Добавим количество ресторанов в городе, будем использовать в других признаках
amount = data['City1'].value_counts().to_dict()
data['Amount Rest'] = data.City1.apply(lambda x: amount[x])
# Создадим признак индекс ресторана = место ресторана / количество ресторанов в городе
# чем он меньше, тем лучше относительное место ресторана
data['Index Ranking'] = data['Ranking'] / data['Amount Rest']
print(amount)
display(data.head(5))